html, body, .container-fluid {
  width: 100%;
  height: 100%;
}
#app, #app > div, #Editor, #Preview {
  height: 500px;
}
.page-title input[type='text'] {
  padding: 0.35em;
}
#Editor {
  font-family: monospace;
  padding: 0 1em;
  display: inline-block;
}
#Preview {
  display: inline-block;
  overflow: auto;
}
hr {
  border: 0;
  height: 1px;
  background-color: #9E9E9E;
}

div.delete {
  height: 18px;
  width: 18px;
  border-radius: 100%;

  background-color: #E53935;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 10px;

  position: absolute;
  top: -9px;
  left: -9px;
  z-index: 5;

  cursor: pointer;
}

/* source code link styles */

div#source-code {
  text-align: center;

  padding: 2em;
}
div#source-code img {
  width: 25px;
  height: 25px;
}
div#source-code a {
  color: #01579B;
  text-decoration: none;
}
div#source-code a:hover {
  text-decoration: underline;
}
